VITE_SUPABASE_URL=https://jvsfbrvhsartvevbgdte.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2c2ZicnZoc2FydHZldmJnZHRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NjUwODUsImV4cCI6MjA4ODE0MTA4NX0.xScj5dnCcAybug8n_MIHtp8IdP00v3cUSZMXDkkPLP0
VITE_GEMINI_API_KEY=AIzaSyCTjgtkxIDrUa2n_wV-6fHmFtFqV-m6CI4
